<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95685213648-prb6642652p46rbtneta560pdfaeqdp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95685213648-prb6642652p46rbtneta560pdfaeqdp8</string>
	<key>API_KEY</key>
	<string>AIzaSyAD2uMjvmA3ZHeAuaunur_DAgEO4xTkxVA</string>
	<key>GCM_SENDER_ID</key>
	<string>95685213648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BookTracker</string>
	<key>PROJECT_ID</key>
	<string>book-tracker-361d7</string>
	<key>STORAGE_BUCKET</key>
	<string>book-tracker-361d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95685213648:ios:530adc4e4de289c51b4dd5</string>
	<key>DATABASE_URL</key>
	<string>https://book-tracker-361d7.firebaseio.com</string>
</dict>
</plist>